/* styles.css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #005776;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(92, 121, 184, 0.432);
    border-radius: 15px 15px 20px 20px;
}

header h1 {
    font-size: 2.5rem;
    margin: 1;
}

header p {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 600px;
    margin: 10px auto;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00ffff;
}

section {
    padding: 60px 20px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section img {
    max-width: 150px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

section img:hover {
    transform: scale(1.1);
}

h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #005776;
    margin: 10px auto 0;
    border-radius: 2px;
}

h3 {
    cursor: pointer;
    font-size: 1.75rem;
    color: #005776;
    transition: color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

h3:hover {
    color: #005776;
    background: #e6f2ff;
}

.collapse {
    margin-top: 15px;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    background-color: #005776;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}

footer p {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.project, .job, .education {
    margin-bottom: 20px;
}

.list-unstyled li {
    margin: 10px 0;
}

.list-unstyled a {
    color: #005776;
    text-decoration: none;
    transition: color 0.3s ease;
}

.list-unstyled a:hover {
    color: #005776;
}
